# Arquivos de ambiente e credenciais
.env
.streamlit/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Outros
.DS_Store
